a{
    text-decoration: none;
}
header{
    color: white;
    padding: 20px 70px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    display: flex;
}
header .logo{
    font-size: 2.5em;
}
header .logo span{
    color: orange;
}
header a{
    color: white;
}
header .search{
    gap: 15px;
    display: flex;
    align-items: center;
}

header .search input{
    padding: 0px 10px;
    border: black;
    border-radius: 14px;
    width: 44vw;
    height: 40px;
}
header i{
    color: white;
}
.profile{
    position: relative;
}

.profilePic{
    width: 55px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
.downloadsLimit{
    border-radius: 50%;
    justify-items: center;
    right: 43px;
    background: orange;
    bottom: 40px;
    width: 22px;
    position: absolute;
}
.downloadsLeft{
    padding-right: 4px;
    margin: 0px;
}
.profile .profileAcord{
    display: none;
    gap: 3px;
    align-items: center;
    width: 90px;
    right: -16px;
    top: 37px;
    background: black;
    border: orange 2px solid;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    padding: 0px;
}
.profileAcord.active {
    display: flex;
}
@media (max-width: 600px){
    header{
        padding: 10px 5px;
    }
    header .logo {
        font-size: 1em;
    }
    header .search{
        gap: 3px;
    }
    .downloadsLimit{
        width: 17px;
        right: 33px;
        bottom: 32px;
    }
    .profilePic{
        width: 43px;
    }
    .downloadsLeft{
        font-size: 14px;
    }
    .profile .profileAcord{
        right: -5px;
        top: 27px;
    }
    .profileAcord a{
        font-size: 17px;
    }
}