.playingMovies{
    width: max-content;
    display: flex
}
.playingMovies article{
    justify-content: flex-end;
    flex-direction: column;
    display: flex
;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 86vh;
}
.movieSlideContainer{
    margin-left: 110px;
    margin-bottom: 110px;
}
.details{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.details img{
    width: 200px;
}
.details p{
    padding: 0px 5px;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
.details i{
    font-size: 15px;
}
.details .flex-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.shortDesc{
    margin-bottom: 30px;
    width: 50vw;
    font-size: 1.5rem;
}
.watchNow{
    font-size: 1.2rem;
    border-radius: 13px;
    color: white;
    background-color: orange;
    padding: 10px 50px;
}
.listType{
    position: relative;
    margin-left: 20px;
}
.listType h2{
    display: inline-block;
    width: fit-content;
    font-size: 2.5rem;
    text-shadow: 1px 1px 0 orange, -1px 1px 0 orange, 1px -1px 0 orange, -1px -1px 0 orange;
}
.choiceHolder{
        text-align: center;
    display: inline-block;
    left: 50%;
    top: 0%;
    position: absolute;
    transform: translateX(25%);
}
.selected{
    font-size: 1.3rem;
    border: none;
    color: white;
    border-radius: 6px;
    background-image: linear-gradient(orange, #9e6703)
}
.choiceHolder button{
    font-size: 1.3rem;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: black;
}
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .playingMovies {
    width: 100%;
    display: flex;
  }
  .watchNow
.movieList{
    position: relative;
    gap: 14px;
    display: flex;
}
.posterHolder{
        position: relative;
        width: 17vw;  /* Fixed width */
        max-width: 300px;
        height: 300px; /* Fixed height */
        border-radius: 10px;
        overflow: hidden; /* Crop the image when zoomed */
}
.posterHolder p{
position: absolute;
z-index: 1;
bottom: 0px;
padding: 0px 5px;
    background-color: rgba(0, 0, 0, 0.32);
}
.year{
    left:4%
}
.rating{
    right:4%;
}
.moviePoster{
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    display: flex
;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;

}
.posterHolder:hover .moviePoster {
    background-clip: border-box;
    transform: scale(1.1); /* Slight zoom effect */
    filter: brightness(0.5);
  }
.title{
width: 16vw;
}
.movieSliderBtn{
    all: unset;
    position: absolute;
    background-color: #00000057;
    padding: 1rem;
    z-index: 2;
    bottom: 0;
    top: 0;
}
.movieSliderBtn.left{
    left:-30px
}
.movieSliderBtn.right{
    right:0px
}

.movieSliderBtn:hover{
    cursor: pointer;
}
.movieLists{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.onHover{
    opacity: 0;
    z-index: 1;
    position: absolute;
     background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 50%;
  right: 30%;
  font-size: 3rem; 
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.posterHolder:hover .onHover{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 600px){
    .movieSlideContainer{
    margin-left: 20px;
    margin-bottom: 20px;
    }
    .details{
        gap: 5px;
    }
    .details img{
        width: 150px;
    }
    .details p{
        font-size: 1rem;
    }
    .shortDesc{
        width: 70vw;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .watchNow{
        padding: 5px 20px;
    }
    .playingMovies article{
        width: 101vw;
        height: 50vh;
    }
    .listType{
        margin-left: 5px;
        margin-right: 5px;
    }
    .listType h2{
        font-size: 1.7rem;
        margin-bottom: 12px;
    }
    .movieList{
        overflow-x: scroll;
    }
    .choiceHolder{
        left: 30%;
    }
    .movieList::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
    
      .movieList::-webkit-scrollbar-thumb {
        background-color: orange;
        border-radius: 10px;
      }
    
      .movieList::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }
    .movieList .movieCard{
        height: fit-content;
    }
    .posterHolder{
        width: 37vw;
    }
    .title {
        width: 36vw;
    }
    .movieSliderBtn.right {
        display: none;
    }
}

@media (min-width: 768px) {
    .posterHolder {
      width: 20vw; /* Adjust width for tablets */
      max-width: 300px;
    }
  }
  
  @media (min-width: 1080px) {
    .posterHolder {
      width: 16vw; /* Adjust width for desktop */
      max-width: 350px;
    }
  }


  