.libWrapper{
    height: 86vh;
}
.libContainer{
    justify-content: center;
    gap: 50px;
    display: flex
;
height: 64vh;
}
.libraries{
    height: -webkit-fill-available;
    flex-direction: column;
    display: flex
;
    width: 20vw;
    border: 2px solid orange;
    padding: 20px;
}
.libraries ul{
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tooltip{
    background: orange;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    animation: fadeInOut 2.5s ease-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(0%, -80%);
    }
    20% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
    80% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        transform: translate(0%, 100%);
    }
}
.library:hover,.member:hover{
cursor: pointer;
}
.member{
    display: flex;
    justify-content: center;
    position: relative;
}
.addLibraryForm{
    display: flex;
    gap: 5px;
    align-items: center;
}
.libActions{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 10px;
margin-top:auto;
}
.libActions button{
    border: none;
    background-color: orange;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
}

.savedMovies{
    width: 880px;
    border: 2px solid orange;
    gap: 40px;
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex
;
    padding: 30px;
;
}

.movieWithRemove .title {
    width: 13vw !important;
}
.savedMovies .movieWithRemove{
    display: flex;
    width: 13vw;
    gap: 10px;
    flex-direction: column;
}
.savedMovies.posterHolder{
    width: 13vw;
}
.removeButton{
    background-color: orange;
    border: none;
    border-radius: 6px;
}

.roleHolder{
    border: solid #9e6703 2px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    width: fit-content;
    display: flex;
    background-image: linear-gradient(#9e6703, #005c5c);
    flex-direction: column;
}
  .role input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  .radioWrap {
    height: fit-content;
    margin: 3px 1px 0px 5px;
    padding: 1px; /* creates space for the ring */
    border-radius: 50%;
    box-shadow: 0 0 0 1px orange; /* outer ring */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .radioWrap input[type="radio"]:checked {
    margin: 0px;
    background-color: orange; /* this fills the center */
  }
  
  .role input[type="radio"]:disabled {
    cursor: not-allowed;
  }
.role{
    display: flex;
    align-content: center;
}
@media (max-width: 600px){
    .libContainer{
    padding: 0px 5px;
    height: 82vh;
    gap: 10px;
    }
    .libraries{
    padding: 9px;
    width: 270vw;
    }
    .addLibraryForm{
        flex-direction: column;
    }
    .addLibraryForm input{
        width: 100%;
    }
    .savedMovies{
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    }
    .savedMovies .movieWithRemove{
        width: -webkit-fill-available;
        height: fit-content;
    }
    .movieCard{
        height: fit-content;
    }
    .movieWithRemove .title {
        width: -webkit-fill-available !important;
    }
}
  
  @media (min-width: 1920px) {
    .movieWithRemove {
      width: 11vw; /* Adjust width for desktop */
      max-width: 350px;
    }
    .movieWithRemove .posterHolder {
        width: 13vw !important;
    }
  }