.playerWrapper{
    margin-bottom: 20px;
    display: flex;
}
.playerContainer{
    position: relative;
    margin-left: 20px;
    background-color: black;
    height: 70vh;
    width: 60vw;
}
.servers{
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}
.servers .fa-server{
  position: relative;
}
.serverList{
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #1c1c1c;
  position: absolute;
  top: 0%;
  margin: 0;
  display: flex;
  gap: 30px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.server{
  border-radius: 8px;
  text-align: center;
  width: 6em;
  height: fit-content;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.server.selected-server {
  background-color: orange;
}
.flag{
  width: 70%;
}
.server p{
  position: relative!important;
}
.exitServers{
  position: absolute;
  top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: orange;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 20px 5px 16px;
    cursor: pointer;
}
.seriesActionsHolder{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;

}
.seriesAction{
  padding: 3px 20px;
    background-color: orange;
    border-radius: 6px
}
/* .movieInteraction{
  position: relative;
} */
.movieInteraction .messageBox{
  right: 50% !important;
  bottom: 50% !important;
  position: fixed !important;

}
.smallStuff{
    margin-top: 10px;
    justify-content: space-around;
    display: flex;
    margin-left: 20px;
    width: 60vw;
}
.smallStuff button{
    font-size: 1.5rem;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: orange;
}
.smallStuff .like,.smallStuff .dislike{
  padding: 0px;
  background-color: transparent;
}
.downloadBtn{
    font-size: 1.5rem;
    padding: 5px 20px;
    align-content: center;
    background-color: orange;
    color: white;
    border-radius: 6px;
}
.addToLibrary{
    width: 300px;
    border: 3px solid orange;
    height: 352px;
    color: white;
    background: black;
    display: flex
;
    position: absolute;
    flex-direction: column;
    top: 39.4%;
}
.addToLibrary h3{
    margin-left: 17px;
    display: inline-block;
}
.addLibraryBtn{
    top: 13px;
    right: 21px;
    position: absolute;
    display: inline-block;
}
.addLibrary{
  gap: 10px;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    display: flex
;
}
.libraryForm,.libraryList{
    height: 75%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    overflow-y: auto;
}
.libraryList{
  margin-top: 0px;
}
.libraryList label{
    font-size: 1.2rem;
}
.addToLibrary .flex-row{
    justify-content: space-around;
}
.loadingImg{
    height:-webkit-fill-available;
    width: -webkit-fill-available;
}
.movieDetails{
    padding: 0px 30px;
}
.playerContainer p,.playerContainer i{
    position: absolute;
    top: 0;
    opacity: 1;
}
  @keyframes pulsateShadow {
    0% {
      box-shadow: 0 0 15px 5px rgba(255, 165, 0, 1), 0 0 25px 10px rgba(255, 165, 0, 1);
    }
    50% {
      box-shadow: 0 0 25px 10px rgba(255, 165, 0, 1), 0 0 40px 20px rgba(255, 165, 0, 1);
    }
    100% {
      box-shadow: 0 0 15px 5px rgba(255, 165, 0, 1), 0 0 25px 10px rgba(255, 165, 0, 1);
    }
  }
  
  .playerContainer .onHover {
    position: absolute;
    top: 50%;
    right: 50%;
    color: white;
    background-image: linear-gradient(orange, #7f5302);
    border-radius: 50%;
    padding: 10px 17px 10px 22px;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    animation: pulsateShadow 1.5s infinite ease-in-out;
    transform: translate(50%, -50%);  /* To center the element */
  }
  .similarSection{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .similarSection .movieCard{
    display: block;
    width: fit-content;
    height: 220px;
  }
  .similarSection .movieCard .posterHolder{
    height: 30vh;
  }
  .similarSection .movieCard .posterHolder,.similarSection .movieCard .title{
    width: 10vw;
  }
  .similarSection .movieCard .year,.similarSection .movieCard .rating,.similarSection .movieCard .title{
    font-size: 1rem;
  }
  .commentsContianer{
    max-height: 91vh;
    overflow-y: auto;
    width: 60vw;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .reply,.comment{
    padding: 10px 0px 0px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .commentator{
    color: orange;
  }
  .commentWrapper{
    display: flex;
  }
  .reply p, .comment p{
    word-break: break-word;
  }
  .replyForm div{
    display:  flex;
    justify-content: space-around;
  }
  .submitCommentBtn,.cancelReplyBtn,.submitReplyBtn{
    font-size: 24px;
    color: orange;
  }
  .replyWrapper{
    position: relative;
    margin-left: 20px;
    padding: 5px 0px 14px 5px;
    border-left: 2px solid rgb(221, 221, 221);
  }
.commentEditInput{
  width: 100%;
    border: none;
    background: transparent;
    color: orange;
    outline: none;
}
@media (max-width: 600px){
  .movieDetails{
  padding: 0px 5px;
  }
  .playerContainer{
    margin-left: 0px;
    height: 50vh;
    width: 65vw;
  }
  .onHover{
    font-size: 2rem;
  }
  .playerContainer .onHover{
    padding: 10px 14px 9px 18px;
  }
  .seriesAction{
    font-size: 0.9rem;
    padding: 3px 13px;
  }

  .smallStuff{
    gap: 10px;
    margin-left: 0px;
    width: 65vw;
  }
  .smallStuff button{
    font-size: 0.7rem;
    padding: 5px 4px;
  }
  .downloadBtn{
    font-size: 0.7rem;
    padding: 5px 4px;
  }
  .addToLibrary{
    z-index: 3;
    width: 150px;
    right: 33%;
    height: 280px;
    top: 19%;
  }
  .addToLibrary h3{
    margin: 10px ;
  }
  .libraryForm,.libraryList{
    height: 80%;
  }
  .libraryList label{
    font-size: 1rem;
}
.submitCommentBtn, .cancelReplyBtn, .submitReplyBtn{
  font-size: 18px;
}
.reply p, .comment p{
  word-break: normal;
}
.similarSection{
  gap: 5px;
}
.similarSection .movieCard {
  height: fit-content;
}
.similarSection .movieCard .posterHolder, .similarSection .movieCard .title {
  width: 28vw;
}
.similarSection .movieCard .posterHolder {
  height: 27vh;
}
}
  