.profileWrapper{
    justify-content: center;
    width: 100vw;
    height: 85vh;
    display: flex
;
    align-items: center;
}
.profileContainer{
    border: 2px solid orange;
    display: flex
;
    gap: 20px;
    min-width: 426px;
}
.profileOverview{
    border-right: 2px solid orange;
    display: flex
;
    margin: 0px;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    gap: 19px;
}
.profileOverview button{
    font-size: 2rem;
}
.profileOverview .selected{
    padding-right: 5px;
}
.overviewContainer, .settingsContainer{
    padding-right: 20px;
}
.overview{
    gap: 30px;
    align-items: center;
    display: flex
;
    flex-direction: column;
    justify-content: space-evenly;
}
.userName{
    font-size: 2rem;
}
.contents p, .settings{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.settingsContainer{
    position: relative;
}
.settings:hover{
    cursor: pointer;
}
.settingWrapper .messageBox{
    height: 101%;
    flex-wrap: wrap;
    padding: 0px 9px;
    width: 263px;
    justify-content: space-around;
    right: -55% !important;
    top: -1px !important;
}
.change{
    border: 2px solid orange;
    padding: 4px
}
.changeForm{
    display: flex;
    flex-direction: column;
}
.changeForm input{
    float:inline-end;
    border: none;
    border-radius: 6px;
    margin-left: 4px;
}
.changeForm label{
    margin-bottom: 10px;
}
@media (max-width:600px){
.profileContainer{
    min-width: 319px;
    gap: 5px;
}
.profileOverview{
    padding: 0px 4px;
    justify-content: center;
}
.profileOverview button {
    font-size: 1.5rem;
}
.overviewContainer, .settingsContainer {
    padding-right: 10px;
}
.overview{
    gap: 10px;
}
.userName{
    font-size: 1.5rem;
}
.contents p, .settings {
    font-size: 1.5rem;
}
.settingWrapper .messageBox {
    right: 30% !important;
    top: 30% !important;
}
.settingWrapper .messageBox {
    width: 214px;
    padding-right: 6px;
    height: 160px;
    left: -4% !important;
    top: -1% !important;
}
}
@media (min-width: 1080px){
    .settingWrapper .messageBox{
        right: -53% !important;
    }
}