h2{
    margin: 0px;
}
.authContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 85vh;
}
.authForm{
    gap: 6px;
    width: 70vw;
    background-color: black;
    display: flex
;
    flex-direction: column;
    padding: 60px 50px;

}
.authForm input{
    height: 25px;
}
.registerBtn{
    color: white;
    background-color: orange;
    margin-top: 20px;
    width: 25vw;
    border: none;
}
.authForm a{
    color: white;
    text-decoration: none;
}