h2{
    margin: 0px;
}
.authContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 85vh;
}
.authForm{
    width: 70vw;
    background-color: black;
    display: flex
;
    flex-direction: column;
    padding: 40px 50px;

}
.form-type{
    margin-bottom: 10px;
}
.authForm input{
    width: -webkit-fill-available;
    height: 25px;
}
.registerBtn{
    color: white;
    background-color: orange;
    margin-top: 20px;
    width: 25vw;
    border: none;
}
.authForm a{
    color: white;
    text-decoration: none;
}
.input-contianer{
    min-height: 54px;
}