.pagination{
    display: flex;
        justify-content: center;
        gap: 55px;
    
}
.pagination .active{
    background-color: orange;
}
.arrows{
    display: flex;
        gap: 25px;
}
.arrows i:hover{
    cursor: pointer;
}
.pages{
    justify-content: center;
    width: 25em;
    display: flex;
    gap: 22px;
}
.pages span{
    padding: 0px 8px 0px 4px;
    border: 2px solid orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 9px;  
    text-align: center;
}
.pages span:hover{
    cursor: pointer;
}
.results{
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
}
.results .movieCard{
    height: fit-content;
    width: fit-content;
}
@media (max-width:600px){
    .pagination{
        gap: 9px;
        align-items: center;
    }
    .arrows{
        gap: 9px;
        font-size: small;
    }
    .pages{
        width: 15em;
        gap: 12px;
    }
    .pages span{
    font-size: small;
    padding: 0px 4px 0px 2px;
    min-width: 2px;
    }
    .results{
        gap: 30px;
    }
    .results .posterHolder{
        width: 37vw;
    }
}
@media (min-width: 1920px) {
    .posterHolder {
        height: 46vh;
        width: 16vw;
        max-width: 350px;
    } 
    
}